@use "../../functions/" as *;
@use "../../variables/" as var;
@use "../../mixins/" as mix;

// toc
// ----------------------------------------------------------------
.bl_toc {
    position: fixed;
    right: 6.4vw;
    top: 80px;
    z-index: 110;

    @include mix.mq(lg) {
        top: 120px;
        right: 4.34vw;
    }
}

.bl_toc_contents {
    width: max-content;
    max-width: 240px;
    background: colors(color-contents-background);
    border-radius: 20px;
    border: 2px solid colors(color-toc-base);
    box-shadow: 0 0 10px colors(color-global-shadow);
    padding: 44px 24px 40px;
    position: absolute;
    top: 16px;
    right: 0;
    transform: scale(0);
    transform-origin: top right;
    transition: transform .5s ease;

    &.is_open {
        transform: scale(1);
    }

    @include mix.mq(lg) {
        max-width: none;
    }
}

.bl_toc_list {
    > li {
        font-weight: 700;
        list-style: decimal inside;

        &:not(:first-of-type) {
            margin-top: 16px;
        }

        &::marker {
            font-family: font-family(font-accent);
            color: colors(color-toc-base);
            font-size: rem(18px);
            font-weight: 700;
        }

        > ol {
            margin-top: 12px;

            > li {
                list-style: disc inside;

                &:not(:first-of-type) {
                    margin-top: 12px;
                }
        
                &::marker {
                    color: colors(color-toc-base);
                }        
            }
        }
    }
}


// entry
// ----------------------------------------------------------------
.bl_entry_category {
    padding: 4px 25px 8px;
    position: absolute;
    top: 0;
    left: 18px;

    &::before {
        content: "";
        width: 100%;
        height: 190%;
        background: colors(color-entry-categoryBg);
        border-radius: 50%;
        position: absolute;
        top: -85%;
        left: 0;
    }

    p {
        font-size: rem(12px);
        color: colors(color-entry-categoryTitle);
        font-weight: 700;
        position: relative;
        z-index: 1;
    }
}

.bl_entry_head {
    margin-top: 12px;
}

.bl_entry_borderFoot {
    padding: 0 0 32px;
    position: relative;

    &::after {
        content: "";
        width: 65%;
        height: 1px;
        background: colors(color-global-base);
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}

.bl_entry_dateWrap {
    margin-top: 16px;
    text-align: right;
}

.bl_entry_date {
    font-family: font-family(font-accent);
    font-size: rem(14px);
    font-weight: 700;
    padding-left: 20px;
    position: relative;

    &::before {
        content: "";
        width: 16px;
        height: 16px;
        background: colors(color-global-text);
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }

    &__posted {
        &::before {
            mask: url(#{var.$img-path}time.svg) no-repeat center center / contain;
        }
    }

    &__update {
        &::before {
            mask: url(#{var.$img-path}reroad.svg) no-repeat center center / contain;
        }
    }
}

.bl_entry_body {
}

.bl_entry_foot {
    margin-top: 64px;
}

.bl_meta_list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    &:not(:first-of-type) {
        margin-top: 8px;
    }
}

.bl_meta_item {
    padding: .357em .571em;
    border: 1px solid colors(color-global-accent);
    border-radius: 10px;
    font-size: rem(14px);

    a {
        display: inline-block;
        padding-left: 20px;
        position: relative;

        &::before {
            content: "";
            width: 14px;
            height: 14px;
            background: colors(color-global-accent);
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
    }

    &__category {
        a {
            &::before {
                mask: url(#{var.$img-path}folder.svg) no-repeat center center / contain;
            }
        }
    }

    &__tag {
        a {
            &::before {
                mask: url(#{var.$img-path}tag.svg) no-repeat center center / contain;
            }
        }
    }
}

.bl_entry_btnWrap {
    text-align: center;
}