// palettes
// --------------------------------------------------------------------------
$black: #303534;
$white: #fffefd;
$gray: #9c9c9c;
$parisGreen: #d9e4dd;
$smithGreen: #7f9f98;
$smithGreen-50: rgba(127, 159, 152, .5);
$beige: #cdc9c3;
$darkGreen: rgba(48, 53, 52, .05);
$parisGreen60: rgba(#d9e4dd, .8);
$orange: #E5BD78;

//color map
// --------------------------------------------------------------------------
$colors: (
    color-body-background: $parisGreen,
    color-contents-background: $white,
    color-global-text: $black,
    color-global-base: $parisGreen,
    color-global-accent: $smithGreen,
    color-global-white: $white,
    color-global-shadow: $darkGreen,
    color-card-tag: $beige,
    color-btn-base: $smithGreen,
    color-btn-baseText: $white,
    color-btn-paris: $parisGreen,
    color-btn-blackText: $black,
    color-btn-white: $white,
    color-pagination-border: $parisGreen,
    color-pagination-select: $smithGreen,
    color-input-text: $gray,
    color-input-border: $smithGreen,
    color-submit-icon: $smithGreen,
    color-widget-main: $smithGreen,
    color-drawerNav-background: $parisGreen,
    color-404-catList: $beige,
    color-contact-copyBox: $beige,
    color-contact-error: $orange,
    color-contact-input: $smithGreen,
    color-contact-inputShadow: $smithGreen-50,
);
