// width
// --------------------------------------------------------------------------
$width-pc: 1344px;

// fontsize
// --------------------------------------------------------------------------
// lv1
$headingLv1: 26px;
$headingLv1_lg: 38px;

// lv2
$headingLv2: 23px;
$headingLv2_lg: 30px;

// lv3
$headingLv3: 20px;
$headingLv3_lg: 24px;

// lv4
$headingLv4: 18px;
$headingLv4_lg: 20px;
