@use "sass:meta";
@use "../variables/breakpoints" as bp;

@mixin mq($size, $width: min) {
  $result: 0;

  @if (meta.type-of($size) == number) {
    $result: $size;
  } @else {
    @each $key, $value in bp.$mq-breakpoints {
      @if($key == $size) {
        $result: $value;
      }
    }
  }

  @if ($width == max) {
    $result: $result - 0.2;
  }

  @media print, screen and (#{$width}-width: #{$result}) {
    @content;
  }
}