body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
figure,
figcaption {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
th,
var {
  font-style: normal;
  font-weight: normal;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
button,
textarea,
select {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

* {
  box-sizing: border-box;
}

img {
  margin: 0;
  padding: 0;
  height: auto;
  border-style: none;
  max-width: 100%;
  vertical-align: top;
  border: none;
}

p {
  word-break: break-all;
  word-wrap: break-word;
}

strong {
  font-weight: bold;
}

li {
  list-style: none;
  list-style-position: inside;
}

::before,
::after {
  margin: 0px;
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  height: -webkit-fill-available;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  background: #d9e4dd;
  color: #303534;
  font-family: "Noto Sans JP", sans-serif;
  overflow-x: hidden;
  position: relative;
  z-index: 0;
  -webkit-text-size-adjust: 100%;
  line-height: 1.75;
  font-size: 1rem;
  font-feature-settings: "palt" 1;
}
body.is_fixed {
  overflow: hidden;
}
@media print, screen and (min-width: 992px) {
  body {
    font-size: 1.125rem;
  }
}

p {
  color: #303534;
}

button, a {
  cursor: pointer;
}

.ly_footer {
  margin-top: 40px;
  padding: 24px 3.2vw;
  position: relative;
}

.ly_footer_inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ly_header {
  width: 100%;
  background: #d9e4dd;
  position: fixed;
  z-index: 100;
}
.ly_header::after {
  content: "";
  width: 100%;
  height: 50px;
  background: url(../img/wave.svg) no-repeat center/108%;
  filter: drop-shadow(0 20px 20px rgba(48, 53, 52, 0.05));
  position: absolute;
  bottom: -25px;
  z-index: -1;
}
@media print, screen and (min-width: 992px) {
  .ly_header::after {
    height: 160px;
    top: 0;
  }
}

.ly_header_inner {
  width: 100%;
  height: 48px;
  padding: 10px 24px 0;
}
@media print, screen and (min-width: 992px) {
  .ly_header_inner {
    height: 80px;
    padding: 17px 4.35vw 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.ly_main {
  padding-bottom: 80px;
  margin: 0 3.2vw;
  position: relative;
  z-index: 1;
}
@media print, screen and (min-width: 992px) {
  .ly_main {
    margin: 0 2.17vw;
  }
}

.ly_section {
  margin-top: 48px;
}

.bl_commonBg {
  padding-top: 96px;
  margin: 0 3.2vw;
  border-radius: 20px;
  background: #fffefd;
}
.bl_commonBg::before {
  content: "";
  background: repeating-linear-gradient(135deg, #d9e4dd, #d9e4dd 1px, transparent 1px, transparent 24px);
  position: absolute;
  inset: 0;
}
@media print, screen and (min-width: 992px) {
  .bl_commonBg {
    padding-top: 160px;
    margin: 0 2.17vw;
  }
}

.bl_commonBox {
  padding: 32px 16px 64px;
  background: #fffefd;
  border-radius: 20px;
  border: 2px solid #d9e4dd;
  position: relative;
}
@media print, screen and (min-width: 992px) {
  .bl_commonBox {
    padding: 32px 48px 64px;
  }
}
@media print, screen and (min-width: 992px) {
  .bl_commonBox__top {
    border-radius: 0 20px 20px 20px;
  }
}

.bl_commonBox_title {
  display: inline-block;
  padding: 0.667em 1.778em;
  background: #7f9f98;
  text-align: center;
  border-radius: 20px 20px 0 0;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.bl_commonBox_title__leftIcon {
  padding-left: 3.778em;
}
.bl_commonBox_title__404 {
  width: 72vw;
  max-width: 270px;
}
@media print, screen and (min-width: 375px) {
  .bl_commonBox_title__404 {
    width: auto;
  }
}
@media print, screen and (min-width: 768px) {
  .bl_commonBox_title__404 {
    max-width: none;
  }
}

.bl_commonBox_btnWrap {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  left: 50%;
  bottom: -32px;
  transform: translateX(-50%);
}

.bl_cardUnit {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 56px;
}
@media print, screen and (min-width: 992px) {
  .bl_cardUnit {
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    justify-items: start;
  }
}
@media print, screen and (min-width: 1400px) {
  .bl_cardUnit {
    grid-template-columns: repeat(auto-fit, minmax(368px, 1fr));
  }
}

.bl_cardUnit_item {
  position: relative;
  width: 100%;
  height: 100%;
}
.bl_cardUnit_item:not(:last-of-type)::after {
  content: "";
  width: 65.0847457627%;
  max-width: 192px;
  height: 1px;
  background: #d9e4dd;
  position: absolute;
  left: 50%;
  bottom: -28px;
  transform: translateX(-50%);
}

.bl_card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
@media print, screen and (min-width: 768px) {
  .bl_card {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
@media print, screen and (min-width: 992px) {
  .bl_card {
    justify-content: flex-start;
  }
}

.bl_card_body {
  order: 2;
  margin-top: 24px;
  padding: 0 8px;
  display: flex;
  flex-direction: column;
}
@media print, screen and (min-width: 768px) {
  .bl_card_body {
    margin-top: 0px;
    margin-left: 24px;
    padding: 8px 0;
  }
}

.bl_card_title {
  order: 2;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin-top: 0.75em;
}

.bl_card_tagList {
  order: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: -4px;
}
.bl_card_tagList li {
  font-size: 0.75rem;
  font-weight: 500;
  color: #cdc9c3;
  margin-bottom: 4px;
}
.bl_card_tagList li:not(:first-of-type) {
  padding-left: 10px;
  margin-left: 10px;
  position: relative;
}
.bl_card_tagList li:not(:first-of-type)::before {
  content: "";
  width: 1px;
  height: 10px;
  background: #cdc9c3;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotate(40deg);
}

.bl_card_date {
  order: 3;
  font-size: 0.875rem;
  font-family: "Zen Maru Gothic", sans-serif;
  letter-spacing: 0.1em;
  font-weight: 700;
  margin-top: 0.857em;
  text-align: right;
}

.bl_card_thumbnail {
  order: 1;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(48, 53, 52, 0.05);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.bl_card_thumbnail img {
  width: 32px;
  height: 32px;
}
@media print, screen and (min-width: 768px) {
  .bl_card_thumbnail {
    flex-shrink: 0;
  }
}

.bl_card_link::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 5;
}

.bl_header_logo {
  text-align: center;
}

.bl_headerNav {
  display: flex;
  align-items: center;
  gap: 40px;
}

.bl_header_search {
  display: none;
  width: 240px;
}
@media print, screen and (min-width: 992px) {
  .bl_header_search {
    display: block;
  }
}

.bl_header_navBtn {
  margin-left: auto;
  padding: 15.4px 12.4px;
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(3, 1fr);
  gap: 2.8px;
  position: absolute;
  bottom: -20px;
  right: 3.2vw;
  z-index: 105;
}
.bl_header_navBtn > span {
  display: block;
  width: 3.2px;
  height: 3.2px;
  border-radius: 50%;
  background: #fffefd;
  position: relative;
  z-index: 106;
}
.bl_header_navBtn.is_open {
  grid-template: repeat(1, 1fr)/repeat(1, 1fr);
}
.bl_header_navBtn.is_open > span:not(:nth-of-type(3n+1)) {
  display: none;
}
.bl_header_navBtn.is_open > span:nth-of-type(3n+1) {
  width: 15px;
  height: 2px;
  border-radius: 50px;
  transition: width 0.3s ease, height 0.3s ease;
}
.bl_header_navBtn.is_open > span:nth-of-type(1) {
  -webkit-animation: navBtn-rotate 0.3s 0.3s linear forwards;
          animation: navBtn-rotate 0.3s 0.3s linear forwards;
}
.bl_header_navBtn.is_open > span:nth-of-type(4) {
  -webkit-animation: navBtn-rotate-rev 0.3s 0.3s linear forwards;
          animation: navBtn-rotate-rev 0.3s 0.3s linear forwards;
}
@media print, screen and (min-width: 992px) {
  .bl_header_navBtn {
    position: relative;
    bottom: 0;
    right: 0;
  }
}

@-webkit-keyframes navBtn-rotate {
  0% {
    top: 0;
    transform: rotate(0deg);
  }
  100% {
    top: 3.5px;
    transform: rotate(45deg);
  }
}

@keyframes navBtn-rotate {
  0% {
    top: 0;
    transform: rotate(0deg);
  }
  100% {
    top: 3.5px;
    transform: rotate(45deg);
  }
}
@-webkit-keyframes navBtn-rotate-rev {
  0% {
    top: 0;
    transform: rotate(0deg);
  }
  100% {
    top: -3px;
    transform: rotate(-45deg);
  }
}
@keyframes navBtn-rotate-rev {
  0% {
    top: 0;
    transform: rotate(0deg);
  }
  100% {
    top: -3px;
    transform: rotate(-45deg);
  }
}
.bl_globalNav_list {
  display: none;
}
@media print, screen and (min-width: 992px) {
  .bl_globalNav_list {
    display: flex;
  }
}

.bl_globalNav_item {
  font-weight: 700;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  font-family: "Zen Maru Gothic", sans-serif;
}
.bl_globalNav_item:not(:first-of-type) {
  margin-left: 40px;
}

.bl_drawerNav_wrapper {
  width: 100%;
  background: #d9e4dd;
  padding: 96px 6.4vw 32px;
  position: fixed;
  top: -100%;
  left: 0;
  z-index: 90;
  overflow-y: scroll;
  height: 0vh;
  opacity: 0;
  transition: height ease 1s, top ease 1s, opacity ease 0.8s;
}
.bl_drawerNav_wrapper.is_open {
  height: 100vh;
  top: 0;
  opacity: 1;
}
@media print, screen and (min-width: 992px) {
  .bl_drawerNav_wrapper {
    background: transparent;
    padding: 96px 0 32px;
    left: auto;
    right: 4.35vw;
    width: 480px;
  }
}

.bl_drawerNav {
  display: flex;
  justify-content: center;
}
@media print, screen and (min-width: 992px) {
  .bl_drawerNav {
    display: none;
  }
}

.bl_drawerNav_list:not(:first-of-type) {
  margin-left: 3.2vw;
}

.bl_drawerNav_widgetWrapper {
  margin-top: 64px;
  position: relative;
}
.bl_drawerNav_widgetWrapper::before, .bl_drawerNav_widgetWrapper::after {
  content: "";
  width: 10px;
  height: 10px;
  -webkit-mask: url(../img/arrow-sm.svg) no-repeat center/contain;
          mask: url(../img/arrow-sm.svg) no-repeat center/contain;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) rotate(90deg);
}
@media print, screen and (min-width: 992px) {
  .bl_drawerNav_widgetWrapper::before, .bl_drawerNav_widgetWrapper::after {
    display: none;
  }
}
.bl_drawerNav_widgetWrapper::before {
  top: -40px;
}
.bl_drawerNav_widgetWrapper::after {
  top: -28px;
}

.bl_drawerNav_search {
  width: clamp(270px, 60%, 480px);
  margin: 0 auto;
}
@media print, screen and (min-width: 992px) {
  .bl_drawerNav_search {
    display: none;
  }
}

.bl_pagination {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.bl_pagination_currentBox p {
  font-weight: 700;
  letter-spacing: 0.18em;
}

.bl_pagination_item {
  width: 36px;
  height: 36px;
  background: #fffefd;
  border-radius: 50%;
  border: 2px solid #d9e4dd;
  text-align: center;
}
.bl_pagination_item > a {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-family: "Zen Maru Gothic", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 30px;
}
.bl_pagination_item:not(:first-of-type) {
  margin-left: min(16px, 3vw);
}
.bl_pagination_item__prev, .bl_pagination_item__next {
  position: relative;
}
.bl_pagination_item__prev::before, .bl_pagination_item__next::before {
  content: "";
  width: 10px;
  height: 10px;
  background: url(../img/arrow-sm.svg) no-repeat center/contain;
  position: absolute;
  top: 12px;
  left: 12px;
  cursor: pointer;
}
.bl_pagination_item__prev::before {
  transform: rotate(-180deg);
}

.bl_toTop {
  position: fixed;
  right: 3.2vw;
  bottom: 14px;
  z-index: 100;
  opacity: 0;
  transition: opacity 0.3s ease, bottom 0.5s ease;
}
.bl_toTop > span {
  width: 32px;
  height: 16px;
  background: url(../img/arrow.svg) no-repeat center/contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bl_toTop.is_display {
  bottom: 24px;
  opacity: 1;
}
@media print, screen and (min-width: 992px) {
  .bl_toTop {
    right: 2.17vw;
  }
}

.bl_search {
  width: 100%;
  height: 40px;
}

.bl_search_form {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bl_search_input {
  width: 100%;
  height: inherit;
  font-size: 0.875rem;
  padding: 0.857em 1em;
  color: #9c9c9c;
  border: 2px solid #7f9f98;
  border-radius: 50px;
  background: #fffefd;
}

.bl_search_submit {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  margin-left: 12px;
  position: relative;
}
.bl_search_submit::before {
  content: "";
  width: 24px;
  height: 24px;
  background: #7f9f98;
  -webkit-mask: url(../img/search.svg) no-repeat center/contain;
          mask: url(../img/search.svg) no-repeat center/contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bl_search__header .bl_search_input {
  border: 2px solid #fffefd;
}
.bl_search__header .bl_search_submit::before {
  background: #303534;
}

.bl_widget {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  background: linear-gradient(180deg, #7f9f98 0%, #7f9f98 56px, #fffefd 56px, #fffefd 100%);
  border-radius: 20px;
  border: 4px solid #7f9f98;
  overflow: hidden;
}
.bl_widget:not(:first-of-type) {
  margin-top: 24px;
}
@media print, screen and (min-width: 992px) {
  .bl_widget {
    background: linear-gradient(180deg, #7f9f98 0%, #7f9f98 63px, #fffefd 63px, #fffefd 100%);
  }
}

.bl_widget_title {
  width: 100%;
  padding: 0.875em 0;
  text-align: center;
}
.bl_widget_title > p {
  font-family: "Zen Maru Gothic", sans-serif;
  letter-spacing: 0.18em;
  color: #fffefd;
  font-weight: 700;
}

.bl_widget_body {
  padding: 24px;
}

.bl_widget_catList {
  padding-top: 16px;
}

.bl_widget_catItem {
  padding: 8px;
  position: relative;
}
.bl_widget_catItem:not(:first-of-type)::after {
  content: "";
  width: 100%;
  height: 1px;
  background: #d9e4dd;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.bl_widget_catItem a {
  display: block;
}

.bl_widget_tagList {
  margin-bottom: -0.75em;
  display: flex;
  flex-wrap: wrap;
}

.bl_widget_tagItem {
  margin-bottom: 0.75em;
  position: relative;
}
.bl_widget_tagItem:not(:last-of-type) {
  margin-right: 2em;
}

.bl_catList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  border-radius: 20px;
  border: 2px solid #7f9f98;
  overflow: hidden;
}
@media print, screen and (min-width: 992px) {
  .bl_catList {
    display: flex;
    width: auto;
    max-width: none;
    margin: auto;
    border-radius: 0px;
    border: none;
    overflow: visible;
    margin-bottom: -26px;
  }
}

.bl_catList_item {
  padding: 0.667em 0;
  font-family: "Zen Maru Gothic", sans-serif;
  font-size: 1.125rem;
  color: #7f9f98;
  font-weight: 500;
  letter-spacing: 0.1em;
  background: #fffefd;
  text-align: center;
  cursor: pointer;
}
.bl_catList_item:nth-of-type(2) {
  border-left: 2px solid #7f9f98;
}
.bl_catList_item:nth-of-type(3) {
  border-top: 2px solid #7f9f98;
}
.bl_catList_item:nth-of-type(4) {
  border-top: 2px solid #7f9f98;
  border-left: 2px solid #7f9f98;
}
.bl_catList_item > a {
  display: block;
  padding: 0.667em 0;
}
@media print, screen and (min-width: 992px) {
  .bl_catList_item > a {
    padding: 0.8em 1.2em;
  }
}
.bl_catList_item.is_select {
  color: #fffefd;
  background: #7f9f98;
}
@media print, screen and (min-width: 992px) {
  .bl_catList_item {
    padding: 0.8em 1.2em;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 20px 20px 0 0;
    font-size: 1.25rem;
    border: 2px solid #7f9f98;
  }
  .bl_catList_item:not(:first-of-type) {
    margin-left: 24px;
  }
}

.bl_catTab_contents {
  display: none;
}
.bl_catTab_contents.is_display {
  display: grid;
}

.bl_articleList {
  display: none;
}
.bl_articleList.is_display {
  display: block;
}

.bl_articleList_btnWrap {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}

.el_btn {
  display: inline-block;
  background: #7f9f98;
  text-align: center;
  text-transform: uppercase;
  font-family: "Zen Maru Gothic", sans-serif;
  padding: 0.875em 2em;
  font-size: 1rem;
  letter-spacing: 0.18em;
  color: #fffefd;
  font-weight: 700;
  border-radius: 50px;
}
.el_btn__sm {
  padding: 0.833em 2.667em;
  font-size: 0.75rem;
}
@media print, screen and (min-width: 992px) {
  .el_btn__sm {
    font-size: 0.875rem;
  }
}
.el_btn__paris {
  background: #d9e4dd;
  color: #303534;
  border-radius: 20px;
  font-size: 1.125rem;
}
.el_btn__drawerNav {
  padding: 0.875em 8.5vw;
}

.el_circleBtn {
  width: 40px;
  height: 40px;
}
.el_circleBtn::before {
  content: "";
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #7f9f98;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.el_leftIconBtn {
  position: relative;
}
.el_leftIconBtn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 1.778em;
  transform: translateY(-50%);
}
.el_leftIconBtn__contact {
  padding-left: calc(8.5vw + 30px);
}
.el_leftIconBtn__contact::before {
  width: 1.063em;
  height: 0.813em;
  left: 8.5vw;
  background: #fffefd;
  -webkit-mask: url(../img/mail.svg) no-repeat center/contain;
          mask: url(../img/mail.svg) no-repeat center/contain;
}
.el_leftIconBtn__top {
  padding-left: 3.333em;
}
.el_leftIconBtn__top::before {
  width: 0.889em;
  height: 0.889em;
  background: #303534;
  -webkit-mask: url(../img/home.svg) no-repeat center/contain;
          mask: url(../img/home.svg) no-repeat center/contain;
}

.el_paginationBtn {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: #fffefd;
  border: 2px solid #d9e4dd;
  padding: 0;
}
.el_paginationBtn__prev, .el_paginationBtn__next {
  position: relative;
}
.el_paginationBtn__prev::before, .el_paginationBtn__next::before {
  content: "";
  width: 8px;
  height: 10px;
  background: #303534;
  -webkit-mask: url(../img/arrow-sm.svg) no-repeat center/contain;
          mask: url(../img/arrow-sm.svg) no-repeat center/contain;
  position: absolute;
  top: 50%;
  left: 50%;
}
.el_paginationBtn__prev::before {
  transform: translate(-50%, -50%) rotate(180deg);
}
.el_paginationBtn__next::before {
  transform: translate(-50%, -50%);
}
.el_paginationBtn > a {
  display: block;
  width: 100%;
  height: 100%;
}

.el_copy {
  text-align: center;
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.el_pageTitle {
  font-family: "Zen Maru Gothic", sans-serif;
  font-size: 1.125rem;
  color: #fffefd;
  font-weight: 700;
  letter-spacing: 0.18em;
}
@media print, screen and (min-width: 992px) {
  .el_pageTitle {
    font-size: 1.25rem;
  }
}
.el_pageTitle_leftIcon::before {
  content: "";
  width: 1em;
  height: 1em;
  background: #fffefd;
  position: absolute;
  top: calc(50% + 1px);
  left: 1.778em;
  transform: translateY(-50%);
}
.el_pageTitle__cat::before {
  -webkit-mask: url(../img/folder.svg) no-repeat center/contain;
          mask: url(../img/folder.svg) no-repeat center/contain;
}
.el_pageTitle__tag::before {
  -webkit-mask: url(../img/tag.svg) no-repeat center/contain;
          mask: url(../img/tag.svg) no-repeat center/contain;
}
.el_pageTitle__search::before {
  -webkit-mask: url(../img/search.svg) no-repeat center/contain;
          mask: url(../img/search.svg) no-repeat center/contain;
}
@media print, screen and (min-width: 375px) {
  .el_pageTitle > span {
    display: inline-block;
  }
}

.el_lv2Heading_404 {
  font-size: 1.125rem;
  color: #7f9f98;
  font-weight: 700;
  font-family: "Zen Maru Gothic", sans-serif;
  padding-bottom: 8px;
  background: linear-gradient(to right, #d9e4dd, #d9e4dd 5px, transparent 5px, transparent 10px);
  background-size: 10px 2px;
  background-position: left bottom;
  background-repeat: repeat-x;
}

.el_headingLv2_privacy {
  font-size: 1.125rem;
  font-weight: 700;
}

@media print, screen and (min-width: 992px) {
  .el_logo a {
    height: 100%;
    width: 100%;
    display: block;
  }
  .el_logo img {
    width: 144px;
  }
}

@media print, screen and (min-width: 1280px) {
  .hp_noDisplay__pc {
    display: none;
  }
}
@media print, screen and (min-width: 992px) {
  .hp_noDisplay__lg {
    display: none;
  }
}
@media print, screen and (min-width: 768px) {
  .hp_noDisplay__md {
    display: none;
  }
}
@media print, screen and (min-width: 0) {
  .hp_noDisplay__sp {
    display: none;
  }
}

.hp_mt24 {
  margin-top: 24px;
}

.hp_mt32 {
  margin-top: 32px;
}

.bl_404_search {
  width: 100%;
  max-width: 480px;
}

.bl_404_catItem {
  padding-left: 20px;
  position: relative;
}
.bl_404_catItem:not(:first-of-type) {
  margin-top: 16px;
}
.bl_404_catItem::before {
  content: "";
  width: 8px;
  height: 8px;
  background: #cdc9c3;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.bl_privacy_contentList {
  margin-top: 24px;
}

.bl_privacy_contentItem:not(:first-of-type) {
  margin-top: 24px;
}
.bl_privacy_contentItem p {
  margin-top: 8px;
}
/*# sourceMappingURL=style.css.map */