body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
figure,
figcaption {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
th,
var {
  font-style: normal;
  font-weight: normal;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
button,
textarea,
select {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

* {
  box-sizing: border-box;
}

img {
  margin: 0;
  padding: 0;
  height: auto;
  border-style: none;
  max-width: 100%;
  vertical-align: top;
  border: none;
}

p {
  word-break: break-all;
  word-wrap: break-word;
}

strong {
  font-weight: bold;
}

li {
  list-style: none;
  list-style-position: inside;
}

::before,
::after {
  margin: 0px;
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  height: -webkit-fill-available;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  background: #d9e4dd;
  color: #303534;
  font-family: "Noto Sans JP", sans-serif;
  overflow-x: hidden;
  position: relative;
  z-index: 0;
  -webkit-text-size-adjust: 100%;
  line-height: 1.75;
  font-size: 1rem;
  font-feature-settings: "palt" 1;
}

p {
  color: #303534;
}

button, a {
  cursor: pointer;
}

.ly_footer {
  margin-top: 40px;
  padding: 24px 3.2vw;
  position: relative;
}

.ly_footer_inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ly_header {
  width: 100%;
  background: #d9e4dd;
  position: fixed;
  z-index: 100;
}
.ly_header::after {
  content: "";
  width: 100%;
  height: 50px;
  background: url(/htdocs/common/img/wave.svg) no-repeat center/108%;
  position: absolute;
  bottom: -64%;
  z-index: -1;
}

.ly_header_inner {
  width: 100%;
  height: 48px;
  padding: 10px 24px 0;
}

.ly_main {
  padding-bottom: 80px;
  margin: 0 3.2vw;
  position: relative;
  z-index: 1;
}

.bl_commonBg {
  padding-top: 96px;
  margin: 0 3.2vw;
  border-radius: 20px;
  background: #fffefd;
}
.bl_commonBg::before {
  content: "";
  background: repeating-linear-gradient(135deg, #d9e4dd, #d9e4dd 1px, transparent 1px, transparent 24px);
  position: absolute;
  inset: 0;
}

.bl_commonBox {
  padding: 32px 16px 64px;
  background: #fffefd;
  border-radius: 20px;
  border: 2px solid #d9e4dd;
  position: relative;
}

.bl_header_logo {
  text-align: center;
}

.bl_headerNav, .bl_header_search {
  display: none;
}

.bl_header_navBtn {
  margin-left: auto;
  padding: 15.4px 12.4px;
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(3, 1fr);
  gap: 2.8px;
  position: absolute;
  bottom: -20px;
  right: 3.2vw;
  z-index: 105;
}
.bl_header_navBtn > span {
  width: 3.2px;
  height: 3.2px;
  border-radius: 50%;
  background: #fffefd;
  position: relative;
  z-index: 106;
}

.bl_globalNav_wrapper {
  display: none;
}

.bl_catList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.bl_catList_item {
  font-family: "Zen Maru Gothic", sans-serif;
  font-size: 1.125rem;
  color: #7f9f98;
  font-weight: 500;
  letter-spacing: 100;
  border: 2px solid #7f9f98;
  background: #fffefd;
  text-align: center;
}
.bl_catList_item:nth-of-type(1) {
  border-radius: 20px 0 0 0;
}
.bl_catList_item:nth-of-type(2) {
  border-radius: 0 20px 0 0;
  border-left: 1px solid #7f9f98;
}
.bl_catList_item:nth-of-type(3) {
  border-radius: 0 0 0 20px;
  border-top: 1px solid #7f9f98;
}
.bl_catList_item:nth-of-type(4) {
  border-radius: 0 0 20px 0;
  border-top: 1px solid #7f9f98;
  border-left: 1px solid #7f9f98;
}
.bl_catList_item > a {
  display: block;
  padding: 0.667em 0;
}
.bl_catList_item.is_select {
  padding: 0.667em 0;
  color: #fffefd;
  background: #7f9f98;
}

.bl_pagination {
  width: 100%;
  position: absolute;
  bottom: -18px;
  left: 50%;
  transform: translateX(-50%);
}

.bl_pagination_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bl_pagination_item {
  width: 36px;
  height: 36px;
  background: #fffefd;
  border-radius: 50%;
  border: 2px solid #d9e4dd;
  text-align: center;
}
.bl_pagination_item > a {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-family: "Zen Maru Gothic", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 30px;
}
.bl_pagination_item[aria-current=page] {
  background: #7f9f98;
  border: 2px solid #7f9f98;
}
.bl_pagination_item[aria-current=page] > a {
  color: #fffefd;
}
.bl_pagination_item:not(:first-of-type) {
  margin-left: min(16px, 3vw);
}
.bl_pagination_item__prev, .bl_pagination_item__next {
  position: relative;
}
.bl_pagination_item__prev::before, .bl_pagination_item__next::before {
  content: "";
  width: 10px;
  height: 10px;
  background: url(/htdocs/common/img/arrow-sm.svg) no-repeat center/contain;
  position: absolute;
  top: 12px;
  left: 12px;
}
.bl_pagination_item__prev::before {
  transform: rotate(-180deg);
}
.bl_pagination_item__omit a {
  position: relative;
}
.bl_pagination_item__omit a::before {
  content: "";
  width: 16px;
  height: 16px;
  background: url(/htdocs/common/img/dots.svg) no-repeat center/contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bl_toTop {
  position: fixed;
  right: 3.2vw;
  bottom: 24px;
  z-index: 100;
}
.bl_toTop > span {
  width: 32px;
  height: 16px;
  background: url(/htdocs/common/img/arrow.svg) no-repeat center/contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.el_btn {
  display: inline-block;
  width: 100%;
  max-width: 184px;
  background: #7f9f98;
  text-align: center;
  font-family: "Zen Maru Gothic", sans-serif;
  padding: 0.875em 2em;
  font-size: 1rem;
  color: #fffefd;
  font-weight: 700;
  border-radius: 50px;
}
.el_btn__sm {
  padding: 0.833em 2.667em;
  font-size: 0.75rem;
}

.el_circleBtn {
  width: 40px;
  height: 40px;
}
.el_circleBtn::before {
  content: "";
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #7f9f98;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.el_copy {
  text-align: center;
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 700;
}

@media print, screen and (min-width: 1280px) {
  .hp_noDisplay__pc {
    display: none;
  }
}
@media print, screen and (min-width: 992px) {
  .hp_noDisplay__lg {
    display: none;
  }
}
@media print, screen and (min-width: 768px) {
  .hp_noDisplay__md {
    display: none;
  }
}
@media print, screen and (min-width: 0) {
  .hp_noDisplay__sp {
    display: none;
  }
}

.hp_mt24 {
  margin-top: 24px;
}

.hp_mt32 {
  margin-top: 32px;
}
/*# sourceMappingURL=style.css.map */