@use "../../../functions/" as *;
@use "../../../variables/" as var;
@use "../../../mixins/" as mix;
@use "sass:math";

// cardUnit
// --------------------------------------------------------------------------
.bl_cardUnit {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 56px;
}
  
.bl_cardUnit_item {
    position: relative;
    
    &:not(:first-of-type) {
        &::after {
            content: "";
            width: calc(math.div(192, 295) * 100%);
            max-width: 192px;
            height: 1px;
            background: colors(color-global-base);
            position: absolute;
            left: 50%;
            top: -28px;
            transform: translateX(-50%);
        }
    }
}
  
// card
// --------------------------------------------------------------------------
.bl_card {
    @include mix.flex();
    flex-direction: column;
    position: relative;
}
  
.bl_card_body {
    order: 2;
    margin-top: 24px;
    padding: 0 8px;
    display: flex;
    flex-direction: column;
}
  
.bl_card_title {
    order: 2;
    font-weight: 700;
    letter-spacing: .05em;
    margin-top: .75em;
}
  
.bl_card_tagList {
    order: 1;
    @include mix.flex($justify:flex-start);  
    margin-bottom: -4px;
  
    li {
      font-size: rem(12px);
      color: colors(color-card-tag);
      margin-bottom: 4px;
  
        &:not(:first-of-type) {
            padding-left: 10px;
            margin-left: 10px;
            position: relative;
    
            &::before {
                content: "";
                width: 1px;
                height: 10px;
                background: colors(color-card-tag);
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%) rotate(40deg);
            }
        }
    }
}
  
.bl_card_date {
    order: 3;
    font-size: rem(14px);
    font-family: font-family(font-accent);
    letter-spacing: .1em;
    font-weight: 700;
    margin-top: .857em;
    text-align: right;
}
  
.bl_card_thumbnail {
    order: 1;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    box-shadow: 0 0 10px colors(color-global-shadow);
    @include mix.flex($justify:center);
  
    img {
      width: 32px;
      height: 32px;
    }
}
  
.bl_card_link {
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      z-index: 5;  
    }
}
  