@use "../../../functions/" as *;
@use "../../../variables/" as var;
@use "../../../mixins/" as mix;

// common
// --------------------------------------------------------------------------
.bl_commonBg {
  padding-top: 96px;
  margin: 0 3.2vw;
  border-radius: 20px;
  background: colors(color-contents-background);

  &::before {
      content: "";
      background: repeating-linear-gradient(135deg, colors(color-global-base), colors(color-global-base) 1px, transparent 1px, transparent 24px);
      position: absolute;
      inset: 0;
  }

  @include mix.mq(lg) {
    padding-top: 160px;
  }
}

.bl_commonBox {
  padding: 32px 16px 64px;
  background: colors(color-contents-background);
  border-radius: 20px;
  border: 2px solid colors(color-global-base);
  position: relative;

  @include mix.mq(lg) {
    padding: 32px 48px 64px;
    border-radius: 0 20px 20px 20px;
  }
}


// カテゴリタブ
// --------------------------------------------------------------------------
.bl_catList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  border-radius: 20px;
  border: 2px solid colors(color-btn-green);
  overflow: hidden;

  @include mix.mq(lg) {
    display: flex;
    width: auto;
    max-width: none;
    margin: auto;
    border-radius: 0px;
    border: none;
    overflow: visible;
    margin-bottom: -26px;
  }
}

.bl_catList_item {
  font-family: font-family(font-accent);
  font-size: rem(18px);
  color: colors(color-btn-green);
  font-weight: 500;
  letter-spacing: .1em;
  background: colors(color-btn-white);
  text-align: center;

  &:nth-of-type(2) {
    border-left: 2px solid colors(color-btn-green);
  }

  &:nth-of-type(3) {
    border-top: 2px solid colors(color-btn-green);
  }

  &:nth-of-type(4) {
    border-top: 2px solid colors(color-btn-green);
    border-left: 2px solid colors(color-btn-green);
  }

  > a {
    display: block;
    padding: .667em 0;

    @include mix.mq(lg) {
      padding: .8em 1.2em;
    }
  }

  &.is_select {
    padding: .667em 0;
    color: colors(color-btn-white);
    background: colors(color-btn-green);  

    @include mix.mq(lg) {
      padding: .8em 1.2em;
    }
  }

  @include mix.mq(lg) {
    width: fit-content;
    border-radius: 20px 20px 0 0;
    font-size: rem(20px);

    &:not(:first-of-type) {
      margin-left: 24px;
      border: 2px solid colors(color-btn-green);
    }
  }
}
