@use "../../../functions/" as *;
@use "../../../variables/" as var;
@use "../../../mixins/" as mix;

// common
// --------------------------------------------------------------------------
.bl_commonBg {
  padding-top: 96px;
  margin: 0 3.2vw;
  border-radius: 20px;
  background: colors(color-contents-background);

  &::before {
      content: "";
      background: repeating-linear-gradient(135deg, colors(color-global-base), colors(color-global-base) 1px, transparent 1px, transparent 24px);
      position: absolute;
      inset: 0;
  }

  @include mix.mq(lg) {
    padding-top: 160px;
    margin: 0 2.17vw;
  }
}

.bl_commonBox {
  padding: 32px 16px 64px;
  background: colors(color-contents-background);
  border-radius: 20px;
  border: 2px solid colors(color-global-base);
  position: relative;

  @include mix.mq(lg) {
    padding: 32px 48px 64px;
    border-radius: 0 20px 20px 20px;
  }
}

.bl_commonBox_title {
  display: inline-block;
  padding: .667em 1.778em .667em calc(1.778em + 2em);
  background: colors(color-global-accent);
  text-align: center;
  border-radius: 20px 20px 0 0;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}