@use "../../../functions/" as *;
@use "../../../variables/" as var;
@use "../../../mixins/" as mix;
@use "sass:math";

.bl_profile {
    display: grid;
    gap: 24px;
    max-width: 1080px;
    margin: 40px auto 0;  
    padding: 24px 16px 40px;
    background: colors(color-global-base);
    border-radius: 20px;
    border: 2px solid colors(color-global-base);
    overflow: hidden;
    position: relative;

    &::after {
        content: "";
        width: 150%;
        height: 100%;
        border-radius: 50%;
        background: colors(color-contents-background);
        position: absolute;
        top: 56px;
        left: 50%;
        transform: translateX(-50%);
    }

    @include mix.mq(lg) {
        margin: 64px auto 0;
        padding: 32px 48px 64px;
        column-gap: 48px;

        &::after {
            width: 100%;
            height: 200%;    
            top: 50%;
            left: 96px;
            transform: translateY(-50%);
        }
    }
}

.bl_profile_img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    z-index: 1;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @include mix.mq(lg) {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        width: 128px;
        height: 128px;    
        margin: auto 0;
    }
}

.bl_profile_body {
    display: grid;
    position: relative;
    z-index: 1;

    @include mix.mq(lg) {
        grid-template-columns: 1fr 6fr;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
}

.bl_profile_name {
    font-size: rem(18px);
    font-weight: 700;
    text-align: center;
    letter-spacing: .18em;

    @include mix.mq(lg) {
        width: fit-content;
        grid-column: 1 / 2;
        grid-row: 1;
        font-size: rem(22px);
        text-align: left;
    }
}

.bl_profile_text {
    max-width: 480px;
    margin: 1em auto 0;
    font-size: rem(14px);
    letter-spacing: .1em;

    @include mix.mq(lg) {
        grid-column: 1 / 3;
        grid-row: 2;
        font-size: rem(16px);
        max-width: none;
    }
}

.bl_profile_sns {
    margin-top: 24px;

    @include mix.mq(lg) {
        margin-top: 0;
        grid-column: 2 / 3;
        grid-row: 1;
    }
}

.bl_sns_list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    @include mix.mq(lg) {
        height: 100%;
        justify-content: flex-start;
    }
}

.bl_sns_item {
    width: 24px;
    height: 24px;

    img {
        width: 100%;
        height: 100%;
    }

    &__github {
        width: 28px;
        height: 28px;
    }
}

.bl_profile_btnWrap {
    text-align: center;
    position: relative;
    z-index: 1;

    @include mix.mq(lg) {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        text-align: left;
    }
}