@use "../../../functions/" as *;
@use "../../../variables/" as var;
@use "../../../mixins/" as mix;

.bl_sns_list {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    @include mix.mq(lg) {
        height: 100%;
        justify-content: flex-start;
    }
}

.bl_sns_item {
    width: 24px;
    height: 24px;

    img {
        width: 100%;
        height: 100%;
    }

    &__github {
        width: 28px;
        height: 28px;
    }
}
