@use "../../../functions/" as *;
@use "../../../variables/" as var;
@use "../../../mixins/" as mix;
@use "sass:math";

// カテゴリタブ
// --------------------------------------------------------------------------
.bl_catList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    border-radius: 20px;
    border: 2px solid colors(color-btn-base);
    overflow: hidden;
  
    @include mix.mq(lg) {
        display: flex;
        width: auto;
        max-width: none;
        margin: auto;
        border-radius: 0px;
        border: none;
        overflow: visible;
        margin-bottom: -26px;
    }
  }
  
  .bl_catList_item {
    padding: .667em 0;
    font-family: font-family(font-accent);
    font-size: rem(18px);
    color: colors(color-btn-base);
    font-weight: 500;
    letter-spacing: .1em;
    background: colors(color-btn-white);
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    z-index: 0;
    transition: color .3s ease-out;
  
    &:nth-of-type(2) {
        border-left: 2px solid colors(color-btn-base);
    }
  
    &:nth-of-type(3) {
        border-top: 2px solid colors(color-btn-base);
    }
  
    &:nth-of-type(4) {
        border-top: 2px solid colors(color-btn-base);
        border-left: 2px solid colors(color-btn-base);
    }

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        background: colors(color-btn-base);
        position: absolute;
        bottom: -100%;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
        transition: bottom .3s ease-out;
    }

    @include mix.hover() {
        color: colors(color-btn-white);

        &::before {
            bottom: 0;
            transform: translateX(-50%);
        }
    }
  
    > a {
        display: block;
        padding: .667em 0;
  
        @include mix.mq(lg) {
            padding: .8em 1.2em;
        }
    }
  
    &.is_select {
        color: colors(color-btn-white);
        background: colors(color-btn-base);  
    }
  
    @include mix.mq(lg) {
        padding: .8em 1.2em;
        width: fit-content;
        border-radius: 20px 20px 0 0;
        font-size: rem(20px);
        border: 2px solid colors(color-btn-base);

        &:not(:first-of-type) {
            margin-left: 24px;
        }
    }
}

.bl_catTab_contents {
    display: none;

    &.is_display {
        display: grid;
        animation: tabDisplay 1s ease;
    }
}

@keyframes tabDisplay {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
}