@use "../../../functions/" as *;
@use "../../../variables/" as var;
@use "../../../mixins/" as mix;

.bl_toTop {
    position: fixed;
    right: 3.2vw;
    bottom: 24px;
    z-index: 100;
  
    > span {
        width: 32px;
        height: 16px;
        background: url(#{var.$img-path}arrow.svg) no-repeat center / contain;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    @include mix.mq(lg) {
        right: 2.17vw;
    }
}