@use "../../functions/" as *;
@use "../../variables/" as var;
@use "../../mixins/" as mix;

// common
// --------------------------------------------------------------------------
.bl_commonBg {
  padding-top: 96px;
  margin: 0 3.2vw;
  border-radius: 20px;
  background: colors(color-contents-background);

  &::before {
      content: "";
      background: repeating-linear-gradient(135deg, colors(color-global-base), colors(color-global-base) 1px, transparent 1px, transparent 24px);
      position: absolute;
      inset: 0;
  }
}

.bl_commonBox {
  padding: 32px 16px 64px;
  background: colors(color-contents-background);
  border-radius: 20px;
  border: 2px solid colors(color-global-base);
  position: relative;
}


// header
// --------------------------------------------------------------------------
.bl_header_logo {
  text-align: center;
}

.bl_headerNav, .bl_header_search {
  display: none;
}

.bl_header_navBtn {
  margin-left: auto;
  padding: 15.4px 12.4px;
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  gap: 2.8px;
  position: absolute;
  bottom: -20px;
  right: 3.2vw;
  z-index: 105;

  > span {
    display: block;
    width: 3.2px;
    height: 3.2px;
    border-radius: 50%;
    background: colors(color-global-white);
    position: relative;
    z-index: 106;
  }

  &.is_open {
    grid-template: repeat((1, 1fr)) / repeat((1, 1fr));

    > span {
      &:not(:nth-of-type(3n+1)) {
        display: none;
      }

      &:nth-of-type(3n+1) {
        width: 15px;
        height: 2px;    
        border-radius: 50px;
        transition: width .3s ease, height .3s ease;
      }

      &:nth-of-type(1) {
        animation: navBtn-rotate .3s .3s linear forwards;
      }

      &:nth-of-type(4) {
        animation: navBtn-rotate-rev .3s .3s linear forwards;
      }
    }
  }
}

@keyframes navBtn-rotate {
  0% {
    top: 0;
    transform: rotate(0deg);
  }
  100% {
    top: 3px;
    transform: rotate(45deg);
  }
}

@keyframes navBtn-rotate-rev {
  0% {
    top: 0;
    transform: rotate(0deg);
  }
  100% {
    top: -3px;
    transform: rotate(-45deg);
  }
}


// nav
// --------------------------------------------------------------------------
// グローバル
.bl_globalNav_wrapper {
  width: 100%;
  background: colors(color-globalNav-background);
	padding: 96px 6.4vw 32px;
  position: fixed;
  top: -100%;
  left: 0;
  z-index: 90;
  overflow-y: scroll;
  height: 0vh;
  opacity: 0;
  transition: height ease 1s, top ease 1s, opacity ease .8s;

  &.is_open {
    height: 100vh;
    top: 0;
    opacity: 1;
  }
}

.bl_globalNav {
  display: flex;
  justify-content: center;
}

.bl_globalNav_list {
  &:not(:first-of-type) {
    margin-left: 3.2vw;
  }
}

.bl_globalNav_widgetWrapper {
  margin-top: 64px;
  position: relative;

  &::before, &::after {
    content: "";
    width: 10px;
    height: 10px;
    background: colors(color-btn-green);
    mask: url(#{var.$img-path}arrow-sm.svg) no-repeat center / contain;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) rotate(90deg);
  }

  &::before {
    top: -40px;
  }

  &::after {
    top: -28px;
  }
}

// カテゴリ
.bl_catList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.bl_catList_item {
  font-family: font-family(font-accent);
  font-size: rem(18px);
  color: colors(color-btn-green);
  font-weight: 500;
  letter-spacing: .1em;
  border: 2px solid colors(color-btn-green);
  background: colors(color-btn-white);
  text-align: center;

  &:nth-of-type(1) {
    border-radius: 20px 0 0 0;
  }

  &:nth-of-type(2) {
    border-radius: 0 20px 0 0;
    border-left: 1px solid colors(color-btn-green);
  }

  &:nth-of-type(3) {
    border-radius: 0 0 0 20px;
    border-top: 1px solid colors(color-btn-green);
  }

  &:nth-of-type(4) {
    border-radius: 0 0 20px 0;
    border-top: 1px solid colors(color-btn-green);
    border-left: 1px solid colors(color-btn-green);
  }

  > a {
    display: block;
    padding: .667em 0;
  }

  &.is_select {
    padding: .667em 0;
    color: colors(color-btn-white);
    background: colors(color-btn-green);  
  }
}


// widget
// --------------------------------------------------------------------------
//検索
.bl_search_wrapper {
  width: clamp(270px, 60%, 480px);
  margin: 0 auto;
}

.bl_search {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bl_search_input {
  width: 100%;
  height: inherit;
  font-size: rem(14px);
  padding: .857em 1em;
  color: colors(color-input-text);
  border: 2px solid colors(color-input-border);
  border-radius: 50px;
  background: colors(color-global-white);
}

.bl_search_submit {
  width: 40px;
  height: 40px;
  margin-left: 12px;
  position: relative;

  &::before {
    content: "";
    width: 24px;
    height: 24px;
    background: colors(color-submit-icon);
    mask: url(#{var.$img-path}search.svg) no-repeat center / contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

//カテゴリ・タグ
.bl_widget {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  background: linear-gradient(180deg, colors(color-widget-main) 0%, colors(color-widget-main) 56px, colors(color-contents-background) 56px, colors(color-contents-background) 100%);
  border-radius: 20px;
  border: 4px solid colors(color-widget-main);
  overflow: hidden;

  &:not(:first-of-type) {
    margin-top: 24px;
  }
}

.bl_widget_title {
  width: 102%;
  height: 56px;
  padding: 14px 0;
  text-align: center;

  > p {
    font-family: font-family(font-accent);
    letter-spacing: .18em;
    color: colors(color-global-white);
    font-weight: 700;  
  }
}

.bl_widget_body {
  padding: 24px;
}

.bl_widget_catList {
  padding-top: 16px;
}

.bl_widget_catItem {
  padding: 8px;
  position: relative;

  &:not(:first-of-type) {
    &::after {
      content: "";
      width: 100%;
      height: 1px;
      background: colors(color-global-base);
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.bl_widget_tagList {
  margin-bottom: -.75em;
  display: flex;
  flex-wrap: wrap;
}

.bl_widget_tagItem {
  margin-bottom: .75em;
  position: relative;

  &:not(:last-of-type) {
    padding-right: 12px;
    margin-right: 12px;

    &::before {
      content: "";
      width: 2px;
      height: 8px;
      background: colors(color-widget-main);
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%) rotate(45deg);
    }
  }
}


// cardUnit
// --------------------------------------------------------------------------
.bl_cardUnit {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 56px;
}

.bl_cardUnit_item {
  position: relative;
  
  &:not(:first-of-type) {
    &::after {
      content: "";
      width: calc(192 / 295 * 100%);
      max-width: 192px;
      height: 1px;
      background: colors(color-global-base);
      position: absolute;
      left: 50%;
      top: -28px;
      transform: translateX(-50%);
    }
  }
}

// card
// --------------------------------------------------------------------------
.bl_card {
  @include mix.flex();
  flex-direction: column;
  position: relative;
}

.bl_card_body {
  order: 2;
  margin-top: 24px;
  padding: 0 8px;
  display: flex;
  flex-direction: column;
}

.bl_card_title {
  order: 2;
  font-weight: 700;
  letter-spacing: .05em;
  margin-top: .75em;
}

.bl_card_tagList {
  order: 1;
  @include mix.flex($justify:flex-start);  
  margin-bottom: -4px;

  li {
    font-size: rem(12px);
    color: colors(color-card-tag);
    margin-bottom: 4px;

    &:not(:first-of-type) {
      padding-left: 10px;
      margin-left: 10px;
      position: relative;

      &::before {
        content: "";
        width: 1px;
        height: 10px;
        background: colors(color-card-tag);
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%) rotate(40deg);
      }
    }
  }
}

.bl_card_date {
  order: 3;
  font-size: rem(14px);
  font-family: font-family(font-accent);
  letter-spacing: .1em;
  font-weight: 700;
  margin-top: .857em;
  text-align: right;
}

.bl_card_thumbnail {
  order: 1;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  box-shadow: 0 0 10px colors(color-global-shadow);
  @include mix.flex($justify:center);

  img {
    width: 32px;
    height: 32px;
  }
}

.bl_card_link {
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 5;  
  }
}

// pagination
// --------------------------------------------------------------------------
.bl_pagination {
  width: 100%;
  position: absolute;
  bottom: -18px;
  left: 50%;
  transform: translateX(-50%);
}

.bl_pagination_list {
  @include mix.flex($justify:center)
}

.bl_pagination_item {
  width: 36px;
  height: 36px;
  background: colors(color-global-white);
  border-radius: 50%;
  border: 2px solid colors(color-pagination-border);
  text-align: center;

  > a {
    display: inline-block;
    width: 100%;
    height: 100%;
    font-family: font-family(font-accent);
    font-size: rem(16px);
    font-weight: 700;
    line-height: 30px;
  }

  &[aria-current="page"] {
    background: colors(color-pagination-select);
    border: 2px solid colors(color-pagination-select);
  
    > a {
      color: colors(color-global-white);
    }
  }

  &:not(:first-of-type) {
    margin-left: min(16px, 3vw);
  }

  &__prev, &__next {
    position: relative;

    &::before {
      content: "";
      width: 10px;
      height: 10px;
      background: url(#{var.$img-path}arrow-sm.svg) no-repeat center / contain;
      position: absolute;
      top: 12px;
      left: 12px;
    }
  }

  &__prev {
    &::before {
      transform: rotate(-180deg);
    }
  }

  &__omit {
    a {
      position: relative;

      &::before {
        content: "";
        width: 16px;
        height: 16px;
        background: url(#{var.$img-path}dots.svg) no-repeat center / contain;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

// toTop
// --------------------------------------------------------------------------
.bl_toTop {
  position: fixed;
  right: 3.2vw;
  bottom: 24px;
  z-index: 100;

  > span {
    width: 32px;
    height: 16px;
    background: url(#{var.$img-path}arrow.svg) no-repeat center / contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}