@use "../../../functions/" as *;
@use "../../../variables/" as var;
@use "../../../mixins/" as mix;

.el_copy {
    text-align: center;
    font-family: font-family(font-accent);
    font-weight: 700;
    letter-spacing: .1em;
}